
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;  
    justify-content: space-between;
    padding: 12px 30px;
    background-color: rgb(174, 93, 215);
}

.logo img {
    width: 35px;
    height: auto;
}

.nav-menu {
    display: flex;
    gap: 35px;
    list-style: none;
    padding: 0;        
    font-size: 18px;
    font-weight: bold;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}


.nav-menu li a {
    text-decoration: none;   
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
}

.nav-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.gitexplore{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Trebuchet MS', Arial, sans-serif;

}

.flappy-bird{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.gamecritic{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    background-color: rgb(174, 93, 215);
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}


footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer li {
    margin: 4px 0;
    list-style: none;
}
.heart {
    width: 50px;
    vertical-align: middle;
}